# Secrets
.env
.env.local
secrets.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Mac
.DS_Store

# Pytest
.pytest_cache/
.coverage
htmlcov/

# User Specific
user_data/
